.search-section {
  text-align: center;
  margin: 25px 0;
}

.search-bar {
  width: 60%;
  max-width: 500px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s ease;
}

.search-bar:focus {
  border-color: #0c8f71;
}