<nav class="navbar">
  <div class="navbar-inner">

    <a class="navbar-logo" routerLink="/home">
      <img src="/homeLogo.png" alt="Speedrun's" class="home-logo">
    </a>

    <ul class="navbar-links">
      <li>
        <a routerLink="/game" routerLinkActive="active" class="nav-link">
          <span></span> Juegos
        </a>
      </li>
      <li>
        <a routerLink="/games/popular-games" routerLinkActive="active" class="nav-link">
          <lucide-icon [img]="Trophy" size="16" color="var(--accent)"></lucide-icon>
           Populares
        </a>
      </li>
      <li>
        <a routerLink="/challenges" routerLinkActive="active" class="nav-link">
          <lucide-icon [img]="Target" size="16" color="var(--accent)"></lucide-icon>
          Challenges
        </a>
      </li>
    </ul>

    <div class="navbar-actions">
      <a routerLink="/login" class="btn-nav btn-ghost">Iniciar sesión</a>
      <a routerLink="/register" class="btn-nav btn-accent">Registrarse</a>
    </div>
  </div>
</nav>